@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates&family=Montserrat:wght@100&display=swap');

:root {
    --background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Caveat', sans-serif; */
body {
    background-color: var(--background-color);
}

nav {
    font-family: 'Caveat', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    height: 66px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}

.bottom {

    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    align-items: center;
    cursor: pointer;
}